﻿@using Licitation.Web.Models.Common.Modals
@model Licitation.Web.Models.Products.CreateOrEditProductsModalViewModel
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditUser")))

<div class="modal-body">
    <form name="EditForm" role="form" novalidate class="form-validation">
        <input type="hidden" id="EditId" name="EditId" value="@Model.Product.Id" />
        <div class="tab-content">

            <div role="tabpanel" class="tab-pane animated fadeIn active" id="edit-user-details">
                <div class="row clearfix" style="margin-top:10px;">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="EditName" type="text" value="@Model.Product.Name" required  class="validate form-control">
                                <label for="EditName" class="form-label">@L("Name")</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="EditBrand" type="text" name="Brand" value="@Model.Product.Brand" required  class="validate form-control">
                                <label for="EditBrand" class="form-label">@L("Brand")</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="EditPurchasePrice" type="number" name="PurchasePrice" value="@Model.Product.PurchasePrice" required maxlength="32" class="validate form-control">
                                <label for="EditPurchasePrice" class="form-label">@L("PurchasePrice")</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="EditProvider" type="text" name="Provider" value="@Model.Product.Provider" maxlength="256" class="validate form-control">
                                <label for="EditProvider" class="form-label">@L("Provider")</label>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>

@await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<script src="~/view-resources/Views/Products/_EditModal.js" asp-append-version="true"></script>
